.rulesContainer {
  border: 2px solid black;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 700px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 16px;
}

.onlyRules {
  padding: 10px;
}

