.question {
  border: 2px solid black;
  border-radius: 10px;
  width: 400px;
  height: 50px;
  margin: 10px;
  padding: 10px;
}

.for_game {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
}

.price {
  border: 2px solid black;
  border-radius: 10px;
  height: 50px;
  margin: 10px;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

/* .button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
} */

.state {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

.background,
.backgroundBlur {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.background {
  background: black;
  opacity: 0;
  transition: 1s ease-in-out;
  z-index: 2;
}

.backgroundBlur {
  backdrop-filter: blur(8px);
  opacity: 0;
  transition: 1s ease-in-out;
  z-index: 1;
}

.window {
  width: 300px;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  opacity: 0;
  transition: 0.5s ease-in-out;
  z-index: 3;
}

.backgroundActive {
  opacity: 0.8;
}

.backgroundBlurActive,
.windowActive {
  opacity: 1;
}

.answerButton {
  align-self: center;
}

.endGameButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 20px;
}
